
<div id="top-header">
             
        <!-- Navigation Menu -->
        <nav>

            <ul id="menu">
                <li>
	 		 <a class="internal-link" href="{{ site.baseurl }}/"><b>{{ site.title }}</b></a>
			</li>
                <li class="right-menu">
			  <a class="internal-link" href="resources">Resources</a>
			</li>
                <li class="right-menu">
			  <a class="internal-link" href="{{ site.baseurl }}/exposition">Exposition</a>
			</li>
                <li class="right-menu">
				<a class="internal-link" href="{{ site.baseurl }}/research">Research</a>
			  <ul class="secondary-list">
				<li>
	   			  <a class="internal-link" href="{{ site.baseurl }}/research">Overview</a>
				</li>
				<li>
				  <a href="https://scholar.google.com/citations?user=i2n7LaUAAAAJ&hl=en">Publications (scholar)</a>
				</li>
				<li>
				  <a class="internal-link" href="{{ site.baseurl }}/bib">Top/Neuro Bibliography</a>
				</li>
				<li>
				<a class="internal-link" href="{{ site.baseurl }}/software">TDA Software</a>
				</li>
 			  </ul>
			</li>
			<li class="right-menu">
				<a class="internal-link" href="{{ site.baseurl }}/group">Group</a>
			</li>
            </ul>


        </nav>
    </div>   
